---
let title = "Let's learn Astro!";
---
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{title}</title>

  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/style/global.css">
</head>
<body>
  <main>
    <header>
      <img width="60" height="80" src="/assets/logo.svg" alt="Astro logo">
      <h1>{title}</h1>
    </header>
  </main>
</body>
</html>
